@font-face {
  font-family: 'RedHatText-var';
  src: url('/src/assets/fonts/RedHatText-VariableFont_wght.ttf');
}

:root {
  font-family: 'RedHatText-var';
  line-height: 1.5;
  font-size: 14px;
  font-weight: 400;

  --Bg-Primary:  rgb(250, 181, 53);
  --Rose50: hsl(20, 50%, 98%);
  --Rose100: hsl(13, 31%, 94%);
  --Rose300: hsl(14, 25%, 72%);
  --Rose400: hsl(7, 20%, 60%);
  --Rose500: hsl(12, 20%, 44%);
  --Rose900: hsl(14, 65%, 9%);
  --Red: hsl(14, 86%, 42%);
  --White: #FFF;
  --Blue: #007bff;
  --AshyBlue: #dfeefe;
  --Green: rgb(5, 193, 5);
  --main-bg-color: #302f2f;

  color-scheme: light dark;
  color: var(--White);
  background-color: var(--main-bg-color);
}
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}